@import '../../styles/main.scss';

.ant-layout-sider-children, .ant-menu{
  background-color: $bg !important;
}

ul{
  color: white !important;
  
}

header{
  -webkit-box-shadow: 0px 4px 8px -3px $shadow; 
  box-shadow: 0px 4px 8px -3px $shadow;
}

.item{
  color: white !important;
  padding: 5px 10px;
  background-color: $bg;
  border-radius: 5px;
}